examples/
src/client/
# source maps
*.js.map
# unwanted files
.cache/
playground/
src/client/www
e2e/
*.spec.js
jest-puppeteer.config.js
.github
jest.config.json
.all-contributorsrc
.husky
.prettierignore
.prettierrc
